name: PRcmmnt
on:
  pull_request:
    types: [opened]
permissions: 
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # ... Steps that build / test / anything else that's needed
    - uses: phulsechinmay/rewritable-pr-comment@v0.3.0
      with:
        message: ${{ steps.ci-tests.output.TESTTTTTTT }} # Print the output message from a step that tests something
   
        GITHUB_TOKEN: "${{ secrets.ACTION_TOKEN }}"
        COMMENT_IDENTIFIER: "test-output-comment-rewritable-action" # Put some identifier here that will be unique among comments in the PR
