on:
  schedule:
    - cron: '52 17 * * *'
    - cron: '55 17 * * *'

jobs:
  test_schedule:
    runs-on: ubuntu-latest
    steps:
      - name: first
        if: github.event.schedule == '52 17 * * *'
        run: echo "First"
  test_again:
    runs-on: ubuntu-latest
    steps:
      - name: first
        if: github.event.schedule == '55 17 * * *'
        run: echo "second"
