name: Jira Validation

on:
  pull_request:
    types: 
      - opened
      - reopened
      - edited
  workflow_dispatch:

jobs:
  validateLinks:
    runs-on: ubuntu-latest
    outputs:
      deploy-status: ${{ steps.check.outputs.triggered }}

    steps:
      - uses: actions/checkout@v3

      - name: Run a multi-line script
        run: |
          npm install @actions/core
          npm install @actions/github
          node .github/workflows/validate-jira.js
  printMess:
    runs-on: ubuntu-latest
    needs: [validateLinks]
    if: ${{ always() && contains(needs.*.result, 'failure') }}
    
    steps:
      - uses: mshick/add-pr-comment@v2
        with:
          message: |
            **PLEASE ENSURE ALL JIRA LINKS ARE VALID!!**
 
  
  
